- form_for @response do |f|
  = f.error_messages
  %p
    = f.label :content
    %br
    = f.text_area :content
  %p
    = f.label :survey_id
    %br
    = f.text_field :survey_id
  %p
    = f.submit
