= stylesheet_link_tag "formtastic"
= stylesheet_link_tag "formtastic_changes"
= semantic_form_for @survey do |f|
  = f.inputs do
    = f.input :name, :label => 'Name'
    = f.input :intro, :label => 'Intro'
    = f.input :thank_you, :label => 'Thank you'
    = f.input :end_date, :label => 'End date', :as => :date
  %h2= "Editors #{link_to_add_fields("Add an editor", f, :editors)}".html_safe
  #editors
    = f.inputs :for => :editors, :class => "editor" do |editor|
      = render "editor_fields", :f => editor
  %h2= "Questions #{link_to_add_fields("Add a question", f, :questions)}".html_safe
  #questions
    = f.inputs :for => :questions, :class => "question" do |question|
      = render "question_fields", :f => question
  %h2= "Recipients #{link_to_add_fields("Add a recipient", f, :recipients)}".html_safe
  #recipients
    = f.inputs :for => :recipients, :class => "recipient" do |recipient|
      = render "recipient_fields", :f => recipient
  %p= f.submit "Submit"
= javascript_include_tag "survey_edit"
