= semantic_form_for @survey do |f|
  = f.inputs do
    = f.input :name, :label => 'Name'
    = f.input :intro, :label => 'Intro'
    = f.input :thank_you, :label => 'Thank you'
    = f.input :pub_date, :label => 'Pub date', :as => :date
    = f.input :end_date, :label => 'End date', :as => :date
  %h2 Editors
  = f.inputs :for => :editors, :id => "editors" do |editor|
    = render "editor_fields", :f => editor
  %h2 Questions
  #questions
    = f.inputs :for => :questions, :class => "question" do |question|
      = render "question_fields", :f => question
  %h2 Recipients
  = f.inputs :for => :recipients, :id => "recipients" do |recipient|
    = render "recipient_fields", :f => recipient
  %p= f.submit "Submit"
= javascript_include_tag "survey_edit"
