%h4 Question #{link_to_function "Remove / Restore", "remove_field($(this).parents(\".question\"))"}
= f.input :content, :as => "string"
= f.input :kind, :as => "select", :collection => {"Drop Down List" => "select", "Free-form text" => "text", "Single choice" => "radio", "Checkboxes" => "check_boxes", "Agree to Disgree Scale" => "agreescale", "Describes Me Scale" => "describesscale"}
= f.input :position, :input_html => { :class => "position" }
= button_to_function "Show / Hide Answers", "toggleVisible(\"#answers_for_#{f.object.id}\")"
= destroy_field(f)
.answers{ :id => "answers_for_#{f.object.id}" }
  = f.inputs :for => :answers, :class => "answer" do |answer|
    = render 'answer_fields', :f => answer
= link_to_add_fields("Add a question", f, :answers)
