%h3
  Question #{link_to_remove_fields "remove", f}
= f.input :content, :input_html => { :rows => 3 }
= f.input :order
- f.inputs :for => :answers do |answer|
  = render 'answer_fields', :f => answer
= link_to_add_fields "Add Answer", f, :answers
