- title "Surveys"

%table
  %tr
    %th Name
    %th Ends in...
    %th Expired?
    %th Times Sent
    %th Editors
    %th Yours?
  - for survey in @surveys
    %tr
      %td= survey.name
      %td= survey.expired? ? "#{time_ago_in_words(survey.end_date)} ago" : distance_of_time_in_words(Time.now, survey.end_date)
      %td= survey.expired? ? "Expired" : "Not Expired"
      %td #{survey.sent_count}/3
      %td= survey.editors.map { |a| a.full_name }.join(", ")
      %td= survey.is_owner?(current_user) ? "Yes" : "No"
      %td= link_to "Show", survey
      %td= link_to "Edit", edit_survey_path(survey) if survey.can_be_edited_by? current_user
      %td= link_to "Destroy", survey, :confirm => 'Are you sure?', :method => :delete if survey.can_be_deleted_by? current_user
      %td= link_to "Send", deliver_path(survey), :confirm => 'Are you sure? You can only send 3 times.' if survey.sent_count < 3

%p= link_to "New Survey", new_survey_path
