- title @survey.name

- if @survey.expired?
  %h2 Sorry!
  %p.intro You've clicked a survey link that was either outdated or just plain bad. Contact the person who sent you the survey to ask if it's expired, or try the link from your email again.

- else 
  %h2= @survey.name

  %p.intro= @survey.intro

  %p
    %strong Questions:
    = semantic_form_for @survey, :url => responses_url do |f|
      = f.inputs :content, :for => :questions do |q|
        = user_facing_question(f, q)
        = f.input :id, :as => :hidden
      = f.buttons do
        = f.commit_button :button_html => { :value => "Send my answers." }
