- title @survey.name

%p.intro= @survey.intro

-if user_signed_in?
  %p
    = link_to "Edit", edit_survey_path(@survey)
    |
    = link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", surveys_path
  %p
    %strong Thank You:
    = @survey.thank_you
  %p
    %strong End Date:
    #{@survey.end_date} (in #{distance_of_time_in_words(Time.now, @survey.end_date)})
  %p
    %strong Recipients:
    = @survey.recipients.map { |r| r.email }.join(", ")

%p
  - unless @survey.expired?
    %strong Questions:
    = semantic_form_for @survey, :url => responses_url do |f|
      = f.inputs :content, :for => :questions do |q|
        = user_facing_question(f, q)
      = f.buttons
  - else
    Sorry, this survey has expired.
