- title @survey.name

%p.intro= @survey.intro

-if user_signed_in?
  %p
    = link_to "Edit", edit_survey_path(@survey)
    |
    = link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", surveys_path
  %p
    %strong Thank You:
    = @survey.thank_you
  %p
    %strong Publication Date:
    = @survey.pub_date
  %p
    %strong End Date:
    = @survey.end_date
  %p
    %strong Public ID:
    = @survey.pub_id
  %p
    %strong Recipients:
    %ul
      - for recipient in @survey.recipients
        %li #{recipient.email} (#{recipient.no_email})


%p
  %strong Questions:
  
  /= form_for @survey do |f|
  /  - for question in @survey.questions
  /    = user_facing_question(f, question)
  = semantic_form_for @survey, :url => "#", :html => { :method => "get" } do |f|
    = f.inputs :content, :for => :questions do |q|
      = user_facing_question(f, q)
    = f.buttons
