!!! html
%html
  %head
    %title= yield(:title) || "Untitled"
    = render "layouts/includes"
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #header
        - if user_signed_in?
          %ul#menu.logged_in
            %li#sign_out_button.button= link_to "<span>Sign out</span>".html_safe, destroy_user_session_path
            %li#my_profile_button.button= link_to "<span>My profile</span>".html_safe, edit_user_registration_path
            %li#my_surveys_button.button= link_to "<span>My Surveys</span>".html_safe, surveys_path            
            %li#help_button.button= link_to "<span>Help</span>".html_safe, help_path
            %li#home_button.button= link_to "<span>Home</span>".html_safe, root_path
        - else
          %ul#menu.logged_out
            %li#sign_up_button.button= link_to "<span>Sign Up</span>".html_safe, new_user_registration_path
            %li#sign_in_button.button= link_to "<span>Sign In</span>".html_safe, new_user_session_path
            %li#help_button.button= link_to "<span>Help</span>".html_safe, help_path
            %li#home_button.button= link_to "<span>Home</span>".html_safe, root_path
      #content
        - flash.each do |name, msg|
          %div{ :id => "flash_#{name}" }= msg
        = yield
      #footer
        .footer_column
          %p#about_and_credits_header.footer_header
            %span About and Credits
          %p
            ListenUp is an awesome application by Brian Hicks, 
            designed for students from the Psychology Department at 
            John Brown University to administer surveys to their 
            peers. It uses Ruby on Rails hosted at Heroku. The title
            font is Lobster by Pablo Impallari.
        .footer_column
          %p#help_topics_header.footer_header
            %span Help Topics
          %ul#help_topics
            %li= link_to "Creating a new Survey", "/help#creating"
            %li= link_to "Editing an existing survey", "/help#editing"
            %li= link_to "Sending out surveys", "/help#sending"
            %li= link_to "Rate limit on sending of surveys", "/help#rate"
        .footer_column
          %p#source_code_header.footer_header
            %span Source Code
          %p 
            The source code for this application is available for
            review and download on Github. It's written in Ruby on
            Rails. The design source files are available upon request.
        .clear
      #debug
        = debug(params) if Rails.env.development?
        = @debug unless @debug.nil?
= render "layouts/uservoice"
