!!! html
%html
  %head
    %title= yield(:title) || "Untitled"
    = render "layouts/includes"
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #header
        #user_actions
          sign in
          sign up
          sign out
          view profile
          edit profile
      #content
        - flash.each do |name, msg|
          %div{ :id => "flash_#{name}" }= msg
        %h1= yield(:title) if show_title?
        = yield
      #footer
        = debug(params) if Rails.env.development?
